.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.background-image {
    background-image: url('../assets/background-image.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 200vh;
}

.register-heading {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #6c757d, #495057);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1.5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    animation: fadeIn 1.5s ease-in-out;
}



.form-label {
    font-size: 16px;
    font-weight: bold;
    color: #495057;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.form-control {
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 1px solid #adb5bd;
}

.form-control:focus {
    border-color: #6c757d;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

.invalid-feedback {
    font-size: 14px;
    color: #e63946;
    font-style: italic;
}

.boldItalicError {
    font-weight: bold;
    font-style: italic;
}

.btn-lg {
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.btn-success {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success:hover {
    background-color: #495057;
    border-color: #3a3f44;
    transform: scale(1.05);
}

.text-center {
    margin-top: 20px;
}

.form-group input:focus {
    border-color: #6c757d;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}
